/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {


    padding: 1em!important;
    border: 1px solid grey;
    margin: 1%!important;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(./fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(./fonts/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(./fonts/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input::placeholder, input::-moz-placeholder {
    color:grey;
}
.thead_tableau > a{
    color:#34495e;
    text-decoration: none;
}
.thead_tableau > a:hover{
    border-bottom: 1px solid black;
}
.encart_agent{
    padding: 1em;
    box-shadow: 0px 0px 2px rgb(41, 128, 185);
}
.pure-form legend {
    font-size: 1.2em;
    font-weight: bold;
}

.transition:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.head_page{
    background: none repeat scroll 0% 0% #0287d0;
    font-family: 'Roboto', sans-serif;
}
.titre_header{
    font-family: "Open Sans",sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #ECF0F1;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.titre_header:hover{
    color:#314B5B;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
nav.menu-haut{
    background-color: rgb(52, 152, 219);
    min-height: 44px;
    line-height: 44px;
    color: white;
}
.mdl-layout-title{
    height: 42px;
    padding: 0.5em;
    text-align: center;
    line-height: 42px;
}


.menu-li{
    float: left; width: 10%; list-style: none outside none; color: white; padding-left: 0.2em;
    border-bottom:0px solid #E74C3C;
    text-align: center;
    height: 44px;
}
.menu-li:hover{

}

li.menu-li > span {
    line-height: 44px;
}
li.menu-li > span:hover {
    color:#2c3e50;
    font-weight: bold;
}
.lien_footer{
    float: left;
    padding: 1em;
    color: #F1892D;
    list-style: none;
}

.lien_footer > a {
    color: #ECF0F1;
    text-decoration: none;
    font-weight: bold;
}
.lien_footer > a:hover{
    border-bottom: 1px solid white;
}
.lien_footer > span {
    font-weight: bold;
}
.contenu_page{
    background: white;
    padding: 1em;
    border-radius: 5px;
    width: 80%;
    margin-left:10%;
    margin-top:4%;
    margin-bottom: 2%;
}
@media (min-width: 1050px) and (max-width : 1200px){


    .contenu_page{
        background: white;
        padding: 1em;
        border-radius: 5px;
        width: 100%;
        margin-left:0%;
        margin-top:4%;
        margin-bottom: 2%;
    }
}





/*

Ici, le css est utilisé pour éviter les pb d'affichage des tableaux lors des redimensionnement de fenêtres


*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */ table, thead, tbody, th, td, tr { display: block; }
    /* Hide table headers (but not display: none;, for accessibility) */
    tr { border: 1px solid #ccc; } td {
                                       /* Behave like a "row" */ border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
    td:before { /* Now like a table header */ position: absolute; /* Top/left values mimic padding */ top: 6px;
        left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; } }



html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;  /* bottom = footer height */
    background: #ECF0F1;
}
footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

footer.pied_page{
    background: #455556;

}

html{
    background:#455556;
}

.erreur{
    border: 1px solid grey;
    border-radius: 10px;
    color:#D91E18;
    padding: 1em;
}



.login_action{
    width: 50%;
    margin-left: 25%;
    border: 1px solid #adadad;
    padding: 1em;
}

tr.master{

}
tr.master:hover{
    background:#1abc9c;
    cursor: pointer;
}
tr.master-clicked{

    border-left: 5px solid #1abc9c;
}
tr.details{
    background:#ECF0F1;
    padding: 1em;
    width: 100%;
    border-left: 5px solid #1abc9c;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;font-size:14px;
    }

    .contenu_page{
        margin-left: 1%;
        width:98%;
    }

}
